aiohttp==3.8.1
aiosignal==1.2.0
async-timeout==4.0.2
attrs==22.1.0
beautifulsoup4==4.11.1
brotlipy==0.7.0
cachetools==5.0.0
certifi==2022.6.15
click==8.1.3
commonmark==0.9.1
conda==4.12.0
cssselect==1.1.0
Deprecated==1.2.13
finviz @ git+https://github.com/frank-besson/finviz@d5e8602b9edbd0d64193da728ce61c79f4d50fef
Flask==2.1.2
Flask-Limiter==2.6.0
frozenlist==1.3.1
importlib-metadata==4.12.0
itsdangerous==2.1.2
Jinja2==3.1.2
limits==2.7.0
lxml==4.9.1
Markdown==3.4.1
MarkupSafe==2.1.1
multidict==6.0.2
packaging==21.3
psutil==5.9.1
pycosat==0.6.3
Pygments==2.13.0
pyparsing==3.0.9
rich==12.5.1
soupsieve==2.3.2.post1
tenacity==7.0.0
typing_extensions==4.3.0
user-agent==0.1.10
Werkzeug==2.2.2
wrapt==1.14.1
yarl==1.8.1
zipp==3.8.1
